@rendermode InteractiveServer

<div class="header">
    <div class="header-left">
        <div class="logo-section">
            <div class="logo">K</div>
            <div class="title-section">
                <h1 class="main-title">KMC Portfolio Validator</h1>
                <p class="subtitle">Buy to Let Underwriting Tool</p>
            </div>
        </div>
    </div>
    
    <div class="header-right">
        <button class="btn btn-primary">Start New Case</button>
    </div>
</div>
